# Obsidian internals
.obsidian/workspace.json
.obsidian/cache
.obsidian/workspace

# Obsidian plugins
.obsidian/plugins/*
!.obsidian/plugins/README.md

# Local / personal stuff
00. Stuff/ROADMAP.md


